*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared part */

body{
    background-color: #1A0B2E;
    color: #FFFFFF;
}

.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}

.text-color{
    color: #FFFFFF;
}

.text-green{
    color: #00FF88;
}

.btn{
    /* width: 135px;
    height: 35px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10000px;
    padding: 16px 20px;
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    font-size: 1.2rem;
    cursor: pointer;


    transition: transform 0.5s ease-in-out;
}

.btn:hover{
    transform: scale(2);
}


/* header */
/* nav */

#navber-container{
    width: 100%;
}

#navber{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;

}

#gradient-color{
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    background-clip: text;
    color: transparent;
}

#nav-text{
    font-size: 3rem;
    font-weight: 800;
}

/* #navber #logo{
    width: 220px;
    height: 32px;
} */

#nav-manu{
    gap: 30px;
}

#nav-manu>li{
    list-style: none;
}

#nav-manu a{
    text-decoration: none;
    
}

.hamburger-menu{
    display: none;
}

/* button */
.btn-container{
    justify-content: center;
    align-items: center;
}
#arrow{
    width: 18px;
    height: 18px;
}

/* banner part */
.banner-container{
    /* border: 1px solid red; */
    height: 700px;
    max-width: 1600px;
    margin: 50px auto;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-pic{
    /* margin-top: 50px; */
    width: 350px;
    height: 350px;
    /* border: 1px solid wheat; */
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.mic-pic{
    width: 200px;
    height: 200px;
    /* border: 1px solid aqua; */
    justify-content: center;
    align-items: center;
}


.banner-btn-container{
    /* border: 1px solid yellow; */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bannre-info{
    margin-top: 2rem;
    /* border: 1px solid blue; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.bannre-info>h1{
    font-size: 3.7rem;
    font-weight: 800;
}

.bannre-info>p{
    font-size: 1rem;
}

.banner-button1{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    background:linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: transform 0.5s ease-in-out;
}

.banner-button1:hover{
    transform: scale(2);
    background: transparent;
    border: 1px solid #00FF88;
}

.banner-button2{
    width: 150px;
    height: 45px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
    background-color: transparent;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: transform 0.5s ease-in-out;
}


.banner-button2:hover{
    transform: scale(2);
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
}

.banner-new{
    width: 75px;
    height: 35px;
    background-color: #00FF88;
    color: black;
    font-weight: bolder;
    border-radius: 100000px;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: 110px; */
    top: 12%;
    /* left: 880px; */
    left: 55%;
    box-shadow: 0px 4px 28px 3px rgba(0, 255, 136, 0.5);
}


/* main section */

.about-container{
    max-width: 1600px;
    margin: 50px auto;
    /* border: 1px solid red; */
    padding: 50px 200px;
    text-align: center;
}

.about-container .about-info h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.about-info p{
    line-height: 1.25rem;
}

.about-container .about-card{
    max-width: 1600px;
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid rgba(199, 194, 194, 0.21);
    padding: 80px 0px;
    justify-content: space-around;
}

.about-card h1{
    font-size: 3rem;
    
}

.about-card p{
    line-height: 1.25rem;
}






/* responsive */
 @media screen and (max-width: 576px){

    #nav-manu{
        display: none;
    }

    .btn-container{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .banner-container{
        width: 560px;
        height: 480px;

    }
    .banner-new{
        top: 15%;
        right: 60%;
    }

    .circle-pic{
        margin-top: 50px;
        width: 200px;
        height: 200px;
    }

    .mic-pic{
        width: 80px;
        height: 80px;
    }
    .mic-pic>img{
        width: 100%;  
    }

    .about-container{
        padding: 20px 50px;
    }
    .about-container .about-card{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
 }