*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared part */

body{
    background-color: #1A0B2E;
    color: #FFFFFF;
}

.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}

.text-color{
    color: #FFFFFF;
}

.text-green{
    color: #00FF88;
}

.btn{
    /* width: 135px;
    height: 35px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10000px;
    padding: 16px 20px;
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    font-size: 1.2rem;
    cursor: pointer;


    transition: transform 0.5s ease-in-out;
}

.btn:hover{
    transform: scale(2);
}

.big-text{
    font-size: 3rem;
    font-weight: bold;
}

.medium-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.small-text{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

/* header */
/* nav */

#navber-container{
    width: 100%;
}

#navber{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;

}

#gradient-color{
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    background-clip: text;
    color: transparent;
}

#nav-text{
    font-size: 3rem;
    font-weight: 800;
}

/* #navber #logo{
    width: 220px;
    height: 32px;
} */

#nav-manu{
    gap: 30px;
}

#nav-manu>li{
    list-style: none;
}

#nav-manu a{
    text-decoration: none;
    
}

.hamburger-menu{
    display: none;
}

/* button */
.btn-container{
    justify-content: center;
    align-items: center;
}
#arrow{
    width: 18px;
    height: 18px;
}

/* banner part */
.banner-container{
    /* border: 1px solid red; */
    height: 700px;
    max-width: 1600px;
    margin: 50px auto;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-pic{
    /* margin-top: 50px; */
    width: 350px;
    height: 350px;
    /* border: 1px solid wheat; */
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.mic-pic{
    width: 200px;
    height: 200px;
    /* border: 1px solid aqua; */
    justify-content: center;
    align-items: center;
}


.banner-btn-container{
    /* border: 1px solid yellow; */
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bannre-info{
    margin-top: 2rem;
    /* border: 1px solid blue; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.bannre-info>h1{
    font-size: 3.7rem;
    font-weight: 800;
}

.bannre-info>p{
    font-size: 1rem;
}

.banner-button1{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    background:linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: transform 0.5s ease-in-out;
}

.banner-button1:hover{
    transform: scale(2);
    background: transparent;
    border: 1px solid #00FF88;
}

.banner-button2{
    width: 150px;
    height: 45px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
    background-color: transparent;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: transform 0.5s ease-in-out;
}


.banner-button2:hover{
    transform: scale(2);
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
}

.banner-new{
    width: 75px;
    height: 35px;
    background-color: #00FF88;
    color: black;
    font-weight: bolder;
    border-radius: 100000px;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: 110px; */
    top: 12%;
    /* left: 880px; */
    left: 55%;
    box-shadow: 0px 4px 28px 3px rgba(0, 255, 136, 0.5);
}


/* main section */

.about-container{
    max-width: 1600px;
    margin: 50px auto;
    /* border: 1px solid red; */
    padding: 50px 200px;
    text-align: center;
}

.about-container .about-info h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.about-info p{
    line-height: 1.25rem;
}

.about-container .about-card{
    max-width: 1600px;
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid rgba(199, 194, 194, 0.21);
    padding: 80px 0px;
    justify-content: space-around;
}

.about-card h1{
    font-size: 3rem;
    
}

.about-card p{
    line-height: 1.25rem;
}

/* why choose techwave */
.choose-techwave{
    /* border: 1px solid yellow; */
    max-width: 1600px;
    margin: 120px auto;
    text-align: center;
    
}



.choose-grid-card-container{
    max-width: 1200px;
    height: 900px;
    margin: 50px auto;
    grid-template-columns: repeat(3,380px);
    grid-template-rows: repeat(3, 270px);
    gap: 30px;
    
}

.card{
    flex-direction: column;
    border-radius: 40px;
    gap: 20px;
    padding: 40px;
    align-items: start;
    text-align: start;
}

.card img{
    width: 60px;
    height: 60px;
}

.card h5{
    font-size: 1.2rem;
    font-weight: bold;
}

.card p{
    line-height: 1.2rem;
}

.choose-grid-card-1{
    grid-row: 1/ span 2;
    background-color: #3f1c69f8;
}

.choose-grid-card-2{
    grid-column: 2/ span 2;
    background-color: #3f1c69f8;
}

.choose-grid-card-3{
    background: #3f1c69f8;
    grid-column: 2 / span 2;
    
}
.choose-grid-card-4{
    background: #3f1c69f8;
    grid-column: 1 / span 2;
    
}

.choose-grid-card-5{
    background-color: #3f1c69f8;
}

/* feature-host-part */
.feature-host-container{
    /* border: 1px solid red; */
    max-width: 1600px;
    margin: 100px auto;
}

.feature-part{
    /* border: 3px solid rgba(38, 233, 48, 0.74); */
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-all-cards{
    gap: 10px;
    justify-content: center;
    
}

.feature-card{
    /* border: 2px solid yellow; */
    width: 380px;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    justify-content: start;
    text-align: start;
    border-radius: 10px;
}

.feature-card iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.show-time{
    gap: 10px;
}

/* host */
.host-part{
    text-align: center;
    margin-top: 50px;
}

.meet-host{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid blue; */
    grid-template-columns: 200px 1fr;
    gap: 20px;
}

.host-info{
    /* border: 2px solid red; */
    flex-direction: column;
    text-align: start;
    /* align-items: start; */
    justify-content: center;
    gap: 25px;
}





/* responsive */
 @media screen and (max-width: 576px){

    #nav-manu{
        display: none;
    }

    .btn-container{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .banner-container{
        width: 560px;
        height: 480px;

    }
    .banner-new{
        top: 15%;
        right: 60%;
    }

    .circle-pic{
        margin-top: 50px;
        width: 200px;
        height: 200px;
    }

    .mic-pic{
        width: 80px;
        height: 80px;
    }
    .mic-pic>img{
        width: 100%;  
    }

    .about-container{
        padding: 20px 50px;
    }
    .about-container .about-card{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
 }