
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared part */

body{
    background-color: #1A0B2E;
    /* color: #FFFFFF; */
}

.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}

.text-color{
    color: #FFFFFF;
}

.para-text-color{
    color: rgba(255, 255, 255, 0.63);
}

.text-green{
    color: #00FF88;
}

.btn{
    /* width: 135px;
    height: 35px; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10000px;
    padding: 16px 20px;
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    font-size: 1.2rem;
    cursor: pointer;


    transition: transform 0.5s ease-in-out;
}

.btn:hover{
    transform: scale(2);
}

.big-text{
    font-size: 3rem;
    font-style: bold;
}

.medium-text{
    font-size: 1.5rem;
    font-weight: bold;
}

.small-text{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

/* header */
/* nav */

#navber-container{
    width: 100%;
}

#navber{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;

}

#gradient-color{
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    background-clip: text;
    color: transparent;
}

#nav-text{
    font-size: 3rem;
    font-weight: 800;
}



#nav-manu{
    gap: 30px;
}

#nav-manu>li{
    list-style: none;
}

#nav-manu a{
    text-decoration: none;
    
}

.hamburger-menu{
    display: none;
}

/* button */
.btn-container{
    justify-content: center;
    align-items: center;
}
#arrow{
    width: 18px;
    height: 18px;
}

/* banner part */
.banner-container{
    height: 700px;
    margin: 50px auto;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-pic{
    width: 350px;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.mic-pic{
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}


.banner-btn-container{
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.bannre-info{
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.bannre-info>h1{
    font-size: 3.7rem;
    font-weight: 800;
}

.bannre-info>p{
    font-size: 1rem;
}

.banner-button1{
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    background:linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: transform 0.5s ease-in-out;
}

.banner-button1:hover{
    transform: scale(2);
    background: transparent;
    border: 1px solid #00FF88;
}

.banner-button2{
    width: 150px;
    height: 45px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
    background-color: transparent;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: transform 0.5s ease-in-out;
}


.banner-button2:hover{
    transform: scale(2);
    background: linear-gradient(to right, #f7e93f, #fb09b4, #9100f8);
}

.banner-new{
    width: 75px;
    height: 35px;
    background-color: #00FF88;
    color: black;
    font-weight: bolder;
    border-radius: 100000px;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: 110px; */
    top: 12%;
    /* left: 880px; */
    left: 55%;
    box-shadow: 0px 4px 28px 3px rgba(0, 255, 136, 0.5);
}


/* main section */

.about-container{
    max-width: 1600px;
    margin: 50px auto;
    padding: 50px 200px;
    text-align: center;
}

.about-container .about-info h1{ 
    margin-bottom: 20px;
}

.about-info p{
    line-height: 1.25rem;
}

.about-container .about-card{
    max-width: 1600px;
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid rgba(199, 194, 194, 0.21);
    padding: 80px 0px;
    justify-content: space-around;
}

.about-card h1{
    font-size: 3rem;
    
}

.about-card p{
    line-height: 1.25rem;
}

/* why choose techwave */
.choose-techwave{
    max-width: 1600px;
    margin: 120px auto;
    text-align: center;
    
}



.choose-grid-card-container{
    max-width: 1200px;
    height: 900px;
    margin: 50px auto;
    grid-template-columns: repeat(3,380px);
    grid-template-rows: repeat(3, 270px);
    gap: 30px;
    
}

.card{
    background-color: #3f1c69f8; 
    flex-direction: column;
    border-radius: 40px;
    gap: 20px;
    padding: 40px;
    align-items: start;
    text-align: start;
}

.card img{
    width: 60px;
    height: 60px;
}

.card h5{
    font-size: 1.2rem;
    font-weight: bold;
}

.card p{
    line-height: 1.2rem;
}

.choose-grid-card-1{
    grid-row: 1/ span 2;

}

.choose-grid-card-2{
    grid-column: 2/ span 2;
   
    
}

.choose-grid-card-3{
    
    grid-column: 2 / span 2;
    
}
.choose-grid-card-4{
    
    grid-column: 1 / span 2;
    
}

.choose-grid-card-5{
    background-color: #3f1c69f8;
}

/* feature-host-part */
.feature-host-container{
    max-width: 1600px;
    margin: 100px auto;
}

.feature-part{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.feature-all-cards{
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
    
}

.feature-card{
    width: 380px;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    justify-content: start;
    text-align: start;
    border-radius: 10px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.feature-card iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.show-time{
    gap: 10px;
}

/* host */
.host-part{
    text-align: center;
    margin-top: 50px;
}

.meet-host{
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.host-info{
    flex-direction: column;
    text-align: start;
    /* align-items: start; */
    justify-content: center;
    gap: 25px;
}

.host-pic{
    padding: 40px;
}

.host-social{
    justify-content: start;
    gap: 5px;
}


 .host-social .social-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-box img{
    border-radius: 50%;
    width: 100%;
}  


/* footer */
.footer{
    margin: 120px auto;
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 120px 200px;
    flex-direction: column;
    align-items: center;
}

.footer-all-socials{
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-social{
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.footer-social img{
    width: 20px;
    height: 20px;
}

.footer h1{
    margin-bottom: 32px;
}
.footer p{
    margin-top: 32px;
}











/* responsive */
 @media screen and (max-width: 576px){

    /* shared part */
    .responsive-big-text{
        font-size: 2rem;
        font-style: bold;
    }

    /* nav part*/
    #nav-manu{
        display: none;
    }

    .btn-container{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .banner-container{
        width: 100%;
        height: 480px;

    }

    /* banner part */
    .banner-new{
        top: 15%;
        right: 60%;
    }

    .circle-pic{
        margin-top: 50px;
        width: 200px;
        height: 200px;
    }

    .mic-pic{
        width: 80px;
        height: 80px;
    }
    .mic-pic>img{
        width: 100%;  
    }

    /* about part */

    .about-container{
        padding: 20px 50px;
    }
    .about-container .about-card{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* choose part make responsive max-width: 576px */

    .choose-grid-card-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: auto;
        margin: 15px;
    }

    .choose-grid-card-1,
    .choose-grid-card-2,
    .choose-grid-card-3,
    .choose-grid-card-4,
    .choose-grid-card-5{
        grid-column: auto;
        grid-row: auto;
    }

    .card{
    
    border-radius: 40px;
    gap: 20px;
    padding: 20px;
    
    }

    .card img{
        width: 30px;
        height: 30px;
    }

    .card h5{
        font-size: 1rem;
        font-weight: bold;
    }

    .card p{
        line-height: 1rem;
    }


    /* feature part */
    .feature-all-cards{
        flex-direction: column;   
        align-items: center;
        gap: 20px;
    }

    /* host part */
    .meet-host{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
    }
   
    .host-info{
        align-items: center;
    }

    /* footer */
    .footer{
        width: 100%;
        /* height: 480px; */
        padding: 20px 0px;
        background-size: cover;
        background-position: center;
    }

    .footer-all-socials{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
 }